<div data-role="view"
     data-title="Report Alert"
     data-layout="main"
     data-model="window.app.models.alertInfo"
     id="report-alert-view">

    <form class="alert-form">
        <div class="form-item">
            <span>Type:</span>
            <input type="text" id="type" />
        </div>
        <div class="form-item">
            <span>Info:</span>
            <input type="text" id="info" />
        </div>
        <div class="form-item">
            <span>Latitude:</span>
            <input type="number" id="lat" />
        </div>
        <div class="form-item">
            <span>Longitude:</span>
            <input type="number" id="long" />
        </div>
        <div class="form-item">
            <span>Area:</span>
            <input type="number" id="area" />
        </div>
        <div class="form-item">
            <span>Image path:</span>
            <input class="image-input" type="file" id="imgPath" />
        </div>
        <div class="form-item">
            <span>Is active:</span>
            <input type="checkbox" id="isActive" />
        </div>

        <button data-role="button"
                data-click="window.app.addDisaster.model.addAlert"
                id="capture-button">
            Add alert
        </button>
    </form>
</div>