<div data-role="view" 
     data-title="Alerts List" 
     data-layout="main"
     data-model="app.data"
     id="alerts-list-view">

    <ul data-role="listview" 
        data-bind="source: alertsDataSource"
        data-template="alertsListTemplate">
        
    </ul>
</div>

<script type="text/x-kendo-tmpl" id="alertsListTemplate">
    <div class="alert-details">
        <img class="icon" src="${iconPath}"/>
        <div class="title-container">
            <h3 class="title">${title}</h3>
            <a class="more-btn" href="views/alert-info.html?uid=${id}" data-role="button">More info</a>
        </div>
    </div>
</script>