.km-drawer-button:before, .km-drawer-button:after  {
     content: "\E077";
}

/* MAIN APP */
.km-on-android .km-header .km-view-title, 
.km-on-ios .km-header .km-view-title,
.km-on-wp .km-header .km-view-title
{
    color: white;
    background: #1e5799;
    font-size: 1.8em;
}

.km-on-android  .km-header a,
.km-on-ios .km-header a
{
    color: #1e5799;
    background: white;
}

.km-on-wp .km-header a
{
    color: #1e5799;
    background: #1e5799;
    border: 1px solid white;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

/* MAP STYLES*/
#map-canvas {
    position: absolute;
    top: 0;
    bottom: 2.5em;
    left: 0;
    right:0;
}

#map-navigate-home {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background:  #1e5799;
    font-size: 1.5em;
    padding: 0.5em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-image:url(../styles/images/location.png);
    background-repeat:no-repeat;
}

#map-navigate-home:active{
    background-image:url(../styles/images/location_active.png);
    background-repeat:no-repeat;
}

/* Alert Details View */

#alert-image
{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom:10px;
    margin-left:5px;
    float: left;
}

#alert-info-container
{
    margin-left:7px;
}

th
{
    border-right:1px solid gray;
    font-size: 17px;
}

.alerts-table
{
    border-spacing: 10px;
    border-collapse:collapse;
}

tr
{
    padding-bottom:40px;
    margin-bottom: 10px;
}

td
{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family:'Browallia New';
}

/* MAIN MENU */
#main-menu li, #home-view .check-btn{
    padding: 1em;
    font-size: 1.2em;
    background: #1e5799;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

/* HOME VIEW */
#home-view{
    text-align:center;
}

#home-view .image-container .left-img{
    position: relative;
    left: 30%
}

#home-view .image-container .right-img{
    position: relative;
    right: 30%;
}

#home-view .logo{
    height: 100%;
    font-weight: bold;
}

#home-view .check-btn {
    margin-top: 2em;
    font-size: 1.5em;
    position: relative;
    bottom: 1em;
}

/* Alerts list */

#alerts-list-view img{
    float: left;
    width: 50px;
    margin-left: 1em;
}

#alerts-list-view .title-container{
    margin-left: 4.5em;
    text-align: center;
}

/* ADD ALERT*/

#report-alert-view {
    text-align: right;
}

#report-alert-view .alert-form{
    padding-right: 10%;
}

#report-alert-view .alert-form .form-item{
    margin-bottom: 1.5em;
}

#report-alert-view .alert-form .form-item span{
    font-size: 1.2em;
    font-weight: 700;
}

.alert-form #capture-button{
    border: 1px solid black;
    background: #1e5799;
    font-size: 1.2em;
    color: white;
}

#your-pics-view{
    position: relative;
    height: 100%;
}

/* Take Picture */
#take-picture-button{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background:  #1e5799;
    font-size: 1.5em;
    padding: 0.5em;
    border-bottom-left-radius: 1em;
    background-image:url();
    background-repeat:no-repeat;
}

/* Setting */
.setting-item{
    text-align: center;
    margin: 1em 0;
}

.music-settings button{
    border: 1px solid black;
}

/* About */
#about-view{
    text-align: center;
}

#about-view ul{
    list-style-type: none;
}