.km-drawer-button:before, .km-drawer-button:after  {
     content: "\E077";
}

/* MAP STYLES*/
#map-canvas {
    position: absolute;
    top: 0;
    bottom: 2.5em;
    left: 0;
    right:0;
}

#map-navigate-home {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3em;
    background-image:url(../styles/images/location.png);
    background-repeat:no-repeat;
}

#map-navigate-home:active{
    background-image:url(../styles/images/location_active.png);
    background-repeat:no-repeat;
}

#alert-image
{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom:10px;
    margin-left:5px;
}

#alert-info-container
{
    margin-left:7px;
}

th
{
    border-right:1px solid gray;
    font-size: 17px;
}

.alerts-table
{
    border-spacing: 10px;
    border-collapse:collapse;
}

tr
{
    padding-bottom:40px;
    margin-bottom: 10px;
}

td
{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family:'Browallia New';
}